{{> head }}
   
{{> navbar }}

  <div class="row">
      <div class="col-8">
          <h1>Titular Importantísimo</h1>
      </div>
      <div class="col-4">
          <img src="assets/img/imagen.jpg" class="img-thumbnail" alt="imagen">
      </div>
  </div>

  {{> footer}}